.input {
    margin-left: 700px;
    margin-top: -350px;
    line-height: 50px;    
}

.input input{
    display: flex;
    border: none;
    font-family: Livvic;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: white;
    width: 500px;
    line-height: 50px;
    padding: 0 20px;
}
.input__message {
    height: 100px;
}
.input__btn {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

